<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zans.mms.dao.mms.TicketPointDeviceDao">

    <resultMap type="com.zans.mms.model.TicketPointDevice" id="TicketPointDeviceMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="ticketId" column="ticket_id" jdbcType="INTEGER"/>
        <result property="pointId" column="point_id" jdbcType="INTEGER"/>
        <result property="assetId" column="asset_id" jdbcType="INTEGER"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TicketPointDeviceMap">
        select id,
               ticket_id,
               point_id,
               asset_id,
               creator,
               create_time,
               update_time
        from ticket_point_device
        where id = #{id}
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TicketPointDeviceMap">
        select
        id, ticket_id, point_id, asset_id, creator, create_time, update_time
        from ticket_point_device
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="ticketId != null">
                and ticket_id = #{ticketId}
            </if>
            <if test="pointId != null and pointId != ''">
                and point_id = #{pointId}
            </if>
            <if test="assetId != null">
                and asset_id = #{assetId}
            </if>
            <if test="creator != null and creator != ''">
                and creator = #{creator}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into  ticket_point_device(ticket_id, point_id, asset_id, creator, create_time, update_time)
        values (#{ticketId}, #{pointId}, #{assetId}, #{creator}, #{createTime}, #{updateTime})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into  ticket_point_device(ticket_id, point_id, asset_id, creator)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.ticketId}, #{entity.pointId}, #{entity.assetId}, #{entity.creator})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into  ticket_point_device(ticket_id, point_id, asset_id, creator, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.ticketId}, #{entity.pointId}, #{entity.assetId}, #{entity.creator}, #{entity.createTime},
            #{entity.updateTime})
        </foreach>
        on duplicate key update
        ticket_id = values(ticket_id) , point_id = values(point_id) , asset_id = values(asset_id) , creator =
        values(creator) , create_time = values(create_time) , update_time = values(update_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update ticket_point_device
        <set>
            <if test="ticketId != null">
                ticket_id = #{ticketId},
            </if>
            <if test="pointId != null and pointId != ''">
                point_id = #{pointId},
            </if>
            <if test="assetId != null">
                asset_id = #{assetId},
            </if>
            <if test="creator != null and creator != ''">
                creator = #{creator},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from ticket_point_device
        where id = #{id}
    </delete>

    <delete id="deleteByTicketId">
        delete
        from ticket_point_device
        where  ticket_id = #{ticketId}
        <if test="pointId != null">
            and  point_id = #{pointId}
        </if>
    </delete>

</mapper>

