<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zans.portal.dao.SysCustomFieldOptionMapper" >

    <select id="findByFieldId" resultType="com.zans.portal.model.SysCustomFieldOption">
        select * from sys_custom_field_option s where custom_field_id = #{fieldId}
    </select>

</mapper>