<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zans.mms.dao.AssetDiagnosisFlagInfoExDao">

    <resultMap type="com.zans.mms.vo.asset.diagnosis.AssetDiagnosisFlagInfoExVO" id="AssetDiagnosisFlagInfoExMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="assetCode" column="asset_code" jdbcType="VARCHAR"/>
        <result property="traceId" column="trace_id" jdbcType="VARCHAR"/>
        <result property="diagnosisResult" column="diagnosis_result" jdbcType="INTEGER"/>
        <result property="faultType" column="fault_type" jdbcType="INTEGER"/>
        <result property="faultTypeResult" column="fault_type_result" jdbcType="INTEGER"/>
        <result property="imgUrl" column="img_url" jdbcType="VARCHAR"/>
        <result property="diagnosisTime" column="diagnosis_time" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="AssetDiagnosisFlagInfoExMap">
        select id,
               asset_code,
               trace_id,
               diagnosis_result,
               fault_type,
               fault_type_result,
               img_url,
               diagnosis_time,
               create_time
        from asset_diagnosis_flag_info_ex
        where id = #{id}
    </select>

    <!--通过实体查询一条数据-->
    <select id="findOne" resultMap="AssetDiagnosisFlagInfoExMap">
        select
        id, asset_code, trace_id, diagnosis_result, fault_type, fault_type_result, img_url, diagnosis_time, create_time
        from asset_diagnosis_flag_info_ex
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="assetCode != null and assetCode != ''">
                and asset_code = #{assetCode}
            </if>
            <if test="traceId != null and traceId != ''">
                and trace_id = #{traceId}
            </if>
            <if test="diagnosisResult != null">
                and diagnosis_result = #{diagnosisResult}
            </if>
            <if test="faultType != null">
                and fault_type = #{faultType}
            </if>
            <if test="faultTypeResult != null">
                and fault_type_result = #{faultTypeResult}
            </if>
            <if test="imgUrl != null and imgUrl != ''">
                and img_url = #{imgUrl}
            </if>
            <if test="diagnosisTime != null and diagnosisTime != ''">
                and diagnosis_time = #{diagnosisTime}
            </if>
            <if test="createTime != null and createTime != ''">
                and create_time = #{createTime}
            </if>
        </where>
        limit 1
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="AssetDiagnosisFlagInfoExMap">
        select
        id, asset_code, trace_id, diagnosis_result, fault_type, fault_type_result, img_url, diagnosis_time, create_time
        from asset_diagnosis_flag_info_ex
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="assetCode != null and assetCode != ''">
                and asset_code = #{assetCode}
            </if>
            <if test="traceId != null and traceId != ''">
                and trace_id = #{traceId}
            </if>
            <if test="diagnosisResult != null">
                and diagnosis_result = #{diagnosisResult}
            </if>
            <if test="faultType != null">
                and fault_type = #{faultType}
            </if>
            <if test="faultTypeResult != null">
                and fault_type_result = #{faultTypeResult}
            </if>
            <if test="imgUrl != null and imgUrl != ''">
                and img_url = #{imgUrl}
            </if>
            <if test="diagnosisTime != null and diagnosisTime != ''">
                and diagnosis_time = #{diagnosisTime}
            </if>
            <if test="createTime != null and createTime != ''">
                and create_time = #{createTime}
            </if>
            <if test="timeBegin != null and timeBegin != ''">
                and diagnosis_time > #{timeBegin}
            </if>
            <if test="timeEnd != null and timeEnd != ''">
                and #{timeEnd} > diagnosis_time and fault_type_result IS NOT NULL
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into asset_diagnosis_flag_info_ex(asset_code, trace_id, diagnosis_result, fault_type, fault_type_result,
                                                 img_url, diagnosis_time, create_time)
        values (#{assetCode}, #{traceId}, #{diagnosisResult}, #{faultType}, #{faultTypeResult}, #{imgUrl},
                #{diagnosisTime}, #{createTime})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into asset_diagnosis_flag_info_ex(asset_code, trace_id, diagnosis_result, fault_type, fault_type_result,
        img_url, diagnosis_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.assetCode}, #{entity.traceId}, #{entity.diagnosisResult}, #{entity.faultType},
            #{entity.faultTypeResult}, #{entity.imgUrl}, #{entity.diagnosisTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into asset_diagnosis_flag_info_ex(asset_code, trace_id, diagnosis_result, fault_type, fault_type_result,
        img_url, diagnosis_time, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.assetCode}, #{entity.traceId}, #{entity.diagnosisResult}, #{entity.faultType},
            #{entity.faultTypeResult}, #{entity.imgUrl}, #{entity.diagnosisTime}, #{entity.createTime})
        </foreach>
        on duplicate key update
        asset_code = values(asset_code) , trace_id = values(trace_id) , diagnosis_result = values(diagnosis_result) ,
        fault_type = values(fault_type) , fault_type_result = values(fault_type_result) , img_url = values(img_url) ,
        diagnosis_time = values(diagnosis_time) , create_time = values(create_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update asset_diagnosis_flag_info_ex
        <set>
            <if test="assetCode != null and assetCode != ''">
                asset_code = #{assetCode},
            </if>
            <if test="traceId != null and traceId != ''">
                trace_id = #{traceId},
            </if>
            <if test="diagnosisResult != null">
                diagnosis_result = #{diagnosisResult},
            </if>
            <if test="faultType != null">
                fault_type = #{faultType},
            </if>
            <if test="faultTypeResult != null">
                fault_type_result = #{faultTypeResult},
            </if>
            <if test="imgUrl != null and imgUrl != ''">
                img_url = #{imgUrl},
            </if>
            <if test="diagnosisTime != null and diagnosisTime != ''">
                diagnosis_time = #{diagnosisTime},
            </if>
            <if test="createTime != null and createTime != ''">
                create_time = #{createTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from asset_diagnosis_flag_info_ex
        where id = #{id}
    </delete>

    <delete id="deleteByTraceId">
        delete
        from asset_diagnosis_flag_info_ex
        where asset_code = #{assetCode} and  trace_id = #{traceId}
    </delete>

</mapper>

