<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zans.mms.dao.SysPermissionMapper">
    <update id="updateDataPerm">
        update sys_jurisdiction_perm set data_perm=#{dataPerm},data_perm_desc=#{dataPermDesc} where jurisdiction_id=#{jurisdictionId} and perm_id=#{permId}
    </update>

    <select id="findUserFrontRoutes" resultType="java.lang.String">
        select sp.route from sys_permission sp inner join sys_jurisdiction_perm srp on sp.perm_id = srp.perm_id
        inner join sys_user sur on srp.jurisdiction_id = sur.jurisdiction_id
        where sur.id=#{userId} and sp.enable=1
    </select>
    <select id="findUserApiRoutes" resultType="java.lang.String">
        select sp.api from sys_permission sp inner join sys_jurisdiction_perm srp on sp.perm_id = srp.perm_id
        inner join sys_user sur on srp.jurisdiction_id = sur.jurisdiction_id
        where sur.id=#{userId} and sp.enable=1
    </select>
    <select id="findPermissionByRole" resultType="com.zans.mms.vo.perm.PermissionRespVO">
        select sp.*, sm.name as module_name from sys_permission sp
        inner join sys_jurisdiction_perm srp on sp.perm_id = srp.perm_id
        inner join sys_module sm on sm.id=sp.module
        where srp.jurisdiction_id = #{jurisdictionId} and sm.module_type =#{moduleType} and sp.enable=1 and sm.enable=1
        order by sm.sort, sp.sort
    </select>
    <select id="findAllPermissions" resultType="com.zans.mms.vo.perm.PermissionRespVO">
        select sp.*, sm.name as module_name from sys_permission sp
        inner join sys_module sm on sm.id=sp.module
        where sp.enable=1 and sm.enable=1
        <if test="permName != null and permName != ''">
            and sm.name LIKE CONCAT('%',#{permName},'%')
        </if>
        order by sm.sort, sp.sort
    </select>
    <delete id="deletePermissionByRole">
        delete from sys_jurisdiction_perm where jurisdiction_id = #{jurisdictionId} and  perm_id in
        ( SELECT perm_id FROM sys_permission  p INNER join    sys_module m  on  m.id=p.module  WHERE  m.module_type=#{moduleType})
    </delete>
    <insert id="insertRolePerm">
        insert into sys_jurisdiction_perm(jurisdiction_id, perm_id) values (#{jurisdictionId}, #{permId})
    </insert>
    <select id="findPermissionByName" resultType="com.zans.mms.vo.perm.PermissionRespVO">
        select sp.*, sm.name as module_name from sys_permission sp
        inner join sys_module sm on sm.id=sp.module
        where sp.perm_name = #{name}
    </select>
    <select id="findPermissionByNameExceptId" resultType="com.zans.mms.vo.perm.PermissionRespVO">
        select sp.*, sm.name as module_name from sys_permission sp
        inner join sys_module sm on sm.id=sp.module
        where sp.perm_name = #{name} and sp.perm_id != #{id}
    </select>

    <select id="findByModuleId" resultType="java.lang.Integer">
        select count(1) from sys_permission sp where sp.`module` = #{moduleId}
    </select>

    <select id="findByRouteAndUserId" resultType="java.lang.String">
        SELECT route FROM `sys_permission` WHERE enable = 1
        and module = (SELECT id FROM `sys_module` WHERE route = #{route} and enable = 1)
        AND route LIKE '%getpasswd%' LIMIT 1
    </select>
    <select id="getDataPermByUserNameAndPermId" resultType="com.zans.mms.vo.perm.DataPermVO">
		  SELECT data_perm dataPerm,maintain_num orgId,user_name userName FROM sys_jurisdiction_perm rp
         LEFT JOIN sys_user su on su.jurisdiction_id=rp.jurisdiction_id
         WHERE su.user_name=#{userName} and rp.perm_id=#{permId} limit 1
    </select>

    <select id="findDataPermList" resultType="com.zans.mms.model.SysRolePerm">
        select * from sys_jurisdiction_perm  where  jurisdiction_id=#{jurisdictionId}
        and perm_id  in (SELECT perm_id FROM sys_permission WHERE data_perm_status=1 and `enable`=1)

    </select>
    <select id="findRolePermListByRoleId" resultType="com.zans.mms.vo.perm.DataPermCacheVO">
        select jurisdiction_id jurisdictionId,perm_id permId,data_perm dataPerm,data_perm_desc dataPermDesc from sys_jurisdiction_perm  where  jurisdiction_id=#{jurisdictionId}
    </select>
    <select id="findAllDataPermList" resultType="com.zans.mms.model.SysRolePerm">
        SELECT perm_id permId FROM sys_permission WHERE data_perm_status=1 and `enable`=1
    </select>


</mapper>
