<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zans.dao.SysUserMapper">

    <resultMap type="com.zans.model.SysUser" id="SysUserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="phone" column="mobile" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="isAdmin" column="is_admin" jdbcType="INTEGER"/>
        <result property="lockStatus" column="lock_status" jdbcType="INTEGER"/>
        <result property="enable" column="enable" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap type="com.zans.vo.SysUserResp" id="SysUserRespMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="phone" column="mobile" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="isAdmin" column="is_admin" jdbcType="INTEGER"/>
        <result property="lockStatus" column="lock_status" jdbcType="INTEGER"/>
        <result property="enable" column="enable" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>


    <!--查询单个-->
    <select id="queryByIdOrNameOrPhone" resultType="com.zans.model.SysUser">
        select id,
        user_name,
        nick_name,
        phone,
        password,
        is_admin,
        enable,
        create_time,
        update_time
        from sys_user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
        </where>
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="SysUserRespMap">
        select
        id, user_name, nick_name, mobile, account, password, salt, role_num, maintain_num, is_admin, enable,
        wechat_name,
        wechat_enable,
        pc_enable,
        wechat_push_enable,
        last_login_time,
        wechat_last_login_time,
        creator,
        create_time, update_time
        from sys_user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userName != null and userName != ''">
                and user_name like concat('%',#{userName},'%')
            </if>
            <if test="nickName != null and nickName != ''">
                and nick_name like concat('%',#{nickName},'%')
            </if>
            <if test="mobile != null and mobile != ''">
                and mobile = #{mobile}
            </if>
            <if test="account != null and account != ''">
                and account = #{account}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="salt != null and salt != ''">
                and salt = #{salt}
            </if>
            <if test="roleNum != null and roleNum != ''">
                and role_num = #{roleNum}
            </if>
            <if test="maintainNum != null and maintainNum != ''">
                and maintain_num = #{maintainNum}
            </if>
            <if test="isAdmin != null">
                and is_admin = #{isAdmin}
            </if>
            <if test="enable != null">
                and enable = #{enable}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="querySysUser" resultType="com.zans.vo.SelectVO">
        select su.nick_name as itemKey, su.mobile as itemValue
        from sys_user su
        left join base_maintain bm on su.maintain_num = bm.maintain_num
        left join base_maintain_role bmr on su.role_num = bmr.role_num
        where bm.maintain_type = '03'
        <if test="maintainNum != null and maintainNum != ''">
            and bm.maintain_num = #{maintainNum}
        </if>
        <if test="areaNum != null and areaNum != ''">
            and (bm.area_num = #{areaNum} or left(bm.area_num,2) = left(#{areaNum},2))
        </if>
    </select>
    <select id="findUserByName" resultType="com.zans.model.SysUser">
        select *
        from sys_user
        where user_name = #{userName} limit 1
    </select>

    <select id="queryByMobile" resultType="com.zans.model.SysUser">
        select su.* from sys_user su
        where 1=1
        <if test="nickName != null and nickName != ''">
            and nick_name like concat('%',#{nickName},'%')
        </if>
        <if test="mobile != null and mobile != ''">
            and mobile = #{mobile}
        </if>
        limit 1
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into sys_user(user_name, nick_name, mobile, account, password, salt, role_num, maintain_num,
                             enable, creator, wechat_enable, wechat_push_enable, pc_enable)
        values (#{userName}, #{nickName}, #{mobile}, #{account}, #{password}, #{salt}, #{roleNum}, #{maintainNum},
                #{enable}, #{creator}, #{wechatEnable}, #{wechatPushEnable}, #{pcEnable})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sys_user(user_name, nick_name, mobile, account, password, salt, role_num, maintain_num,
        is_admin, enable, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userName}, #{entity.nickName}, #{entity.mobile}, #{entity.account}, #{entity.password},
            #{entity.salt}, #{entity.roleNum}, #{entity.maintainNum}, #{entity.isAdmin}, #{entity.enable},
            #{entity.createTime}, #{entity.updateTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sys_user(user_name, nick_name, mobile, account, password, salt, role_num, maintain_num,
        is_admin, enable, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userName}, #{entity.nickName}, #{entity.mobile}, #{entity.account}, #{entity.password},
            #{entity.salt}, #{entity.roleNum}, #{entity.maintainNum}, #{entity.isAdmin}, #{entity.enable},
            #{entity.createTime}, #{entity.updateTime})
        </foreach>
        on duplicate key update
        user_name = values(user_name) , nick_name = values(nick_name) , mobile = values(mobile) , account =
        values(account) , password = values(password) , salt = values(salt) , role_num = values(role_num) , maintain_num
        = values(maintain_num) , is_admin = values(is_admin) , enable = values(enable) , create_time =
        values(create_time) , update_time = values(update_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update sys_user
        <set>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="nickName != null and nickName != ''">
                nick_name = #{nickName},
            </if>
            <if test="mobile != null and mobile != ''">
                mobile = #{mobile},
            </if>
            <if test="account != null and account != ''">
                account = #{account},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="salt != null and salt != ''">
                salt = #{salt},
            </if>
            <if test="roleNum != null and roleNum != ''">
                role_num = #{roleNum},
            </if>
            <if test="maintainNum != null and maintainNum != ''">
                maintain_num = #{maintainNum},
            </if>
            <if test="isAdmin != null">
                is_admin = #{isAdmin},
            </if>
            <if test="enable != null">
                enable = #{enable},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>

            <if test="wechatEnable != null">
                wechat_enable = #{wechatEnable},
            </if>


            <if test="wechatPushEnable != null">
                wechat_push_enable = #{wechatPushEnable},
            </if>
            <if test="pcEnable != null">
                pc_enable = #{pcEnable},
            </if>

            <if test="lastLoginTime != null">
                last_login_time = #{lastLoginTime},
            </if>
            <if test="wechatLastLoginTime != null">
                wechat_last_login_time = #{wechatLastLoginTime},
            </if>
            <if test="updateTime != null and wechatName !=''">
                wechat_name = #{wechatName},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateProjectId">
        update sys_user
        set project_id=#{projectId}
        where id = #{userId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from sys_user
        where id = #{id}
    </delete>


    <select id="getUserByOpenid" resultType="com.zans.model.SysUser">
        select su.id,
               su.user_name,
               su.nick_name,
               mobile,
               account,
               password,
               salt,
               role_num,
               su.maintain_num,
               is_admin,
               enable,
               su.create_time,
               wechat_name,
               wechat_enable,
               wechat_push_enable,
               pc_enable,
               last_login_time,
               wechat_last_login_time,
               su.wechat_enable,
               su.pc_enable,
               su.wechat_push_enable,
               su.creator,
               su.update_time,
               su.check_gis,
               su.area_id_str
        from sys_user su
                 inner join wechat_user_wxbind uw on su.user_name = uw.user_name
        WHERE uw.wx_openid = #{openid} LIMIT 1
    </select>
    <select id="getById" resultType="com.zans.model.SysUser">
        select *
        from sys_user
        where id = #{userId}
    </select>


    <select id="findCurrentUser" resultType="com.zans.model.SysUser">
        select su.*
        from sys_user su
                 LEFT JOIN fort_reserve fr on su.user_name = fr.proposer
        where fr.server_ip = #{ip}
          and fr.status = 4
        order by fr.start_time DESC limit 1
    </select>

</mapper>